* {
  margin: 0;
}

/* Adicione um estilo de cor ao rodapé, caso não tenha adicionado no estilo existente */
footer {
  background-color: #a2a183;
  padding: 20px 0;
  margin: 0;
}
.fixarfooter {
  margin-bottom: 0;
}
footer .container {
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}

.social-icon {
  margin: 0 10px;
}

.card-img-top {
  transition: transform 0.3s ease;
}
.card-img-top:hover {
  transform: scale(1.05);
}
.btn-custom {
  background-color: #a2a183;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn-custom:hover {
  background-color: #686236;
  transform: scale(1.05);
  color: #fff;
}
/* Ajustes de acessibilidade */
.navbar-nav .nav-link,
.btn-outline-dark {
  font-size: 18px; /* Aumenta a fonte para 18px */
  color: #132d3a !important; /* forçando a cor dos itens de navegação */
}
.btn-outline-132d3a {
  color: #132d3a;
  border-color: #132d3a;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-outline-132d3a:hover {
  background-color: #132d3a;
  color: white !important;
}
